html,
body {
  height: 100%;
}

body {
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body section:nth-of-type(even) {
  background-color: #f5f6f8;
}
body section:nth-of-type(odd) {
  background-color: white;
}

.ModalBackdrop {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  --opacity: 0.8;
  background-color: rgba(26, 32, 44, var(--opacity));
  overflow: hidden;
  z-index: 50;
}
.dark-mode .ModalBackdrop {
  background-color: rgba(26, 32, 44, var(--opacity));
}
.BottomModal {
  position: absolute;
  bottom: 0;
  left: 50%;
  --padding: 2rem;
  width: calc(100% - var(--padding) * 2);
  max-width: 40rem;
  padding: var(--padding);
  background-color: #fff;
  --radius: 0.5rem;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  z-index: 1000;
}
.dark-mode .BottomModal {
  background-color: #1a202c;
}
.CenterModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
